.events-widget {
  background-color: white;

  &-title {
    background-color: rgb(36, 88, 156);
    color: white;
    text-align: center;
    padding: 15px 0;
    display: grid;
  }

  &-event {
    width: 100%;
    align-items: center;
  }
}

.no-outline-btn {
  border: 0;

  &-text {
    font-variant: all-small-caps;
    color: #515151;
    font-weight: bold;
  }

  &:hover {
    border: 0;
    background-color: white;
  }
}